.post-container {
  display: grid;
  grid-template-areas:
    "title title"
    "author date"
    "body body"
    ". delete"
    "comments comments";
  gap: 10px;
}

#title {
  grid-area: title;
}
#author {
  grid-area: author;
}
#date {
  grid-area: date;
}
#body {
  grid-area: body;
}
.comments {
  grid-area: comments;
}
#delete {
  grid-area: delete;
}
